{
    "buffers": {
        "input": {
            "utilization": <%= Random.new.rand(0..3000000) %>,
            "utilization_percent": <%= Random.new.rand(0..100) %>
        },
        "output": {
            "utilization": <%= Random.new.rand(0..3000000) %>,
            "utilization_percent": <%= Random.new.rand(0..100) %>
        }
    }
}
